{% extends "base.html" %}
{% block content %}
    <style>
        a{
            text-decoration: none;
            color: #c0304f;
        }
        a div{
            text-align: center;
            border:3px solid darkorange;
            font-family:"Alianza Slab";
            font-size: 25px;
            text-decoration: none;
            color: #c0304f;
        }
    </style>
    {% for post in posts %}
        <a href="{% url "post_detail" post.id %}">{{ post.title }}</a>
        <br><br>
        {{ post.text }}
        <br><br>
        <strong>Pet Info</strong>
        <br>
        yer:{{ post.location }}
        <br>
        adı:{{ post.pet.name }}
        <br>
        yaşı:{{ post.pet.age }}
        <br>
        gender:{{ post.pet.get_gender_display }}
        <br>
        türü:{{ post.pet.kind }}
        <br>
        sahibi:{{ post.pet.user }}
        <br><br>
        <img src="{{post.pet.image}}" width="30%" height="30%">
		<hr>

	{% endfor %}
    <a href="{% url "advert" %}"><div>Yeni İlan Ekle</div></a>
{% endblock %}